h1,h2,h3,p,body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

* {
    box-sizing: border-box;
}

.wrapper {
    background-image: url('../image/background.avif');
    background-size: cover;
    text-align: center;
    color: white;

}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 30px;

}

.sm-nav {
    display: none;
    float: left;

}

.btn {
    position: relative;
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    
}

.sm-content {
    display: none;
    position: absolute;
    top: 4%;
}




.div1 a {
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    margin-left: 30px;
}

.div2 {
    font-size: 2rem;
    line-height: 1.5;
    padding-bottom: 50px;
}

.div2 h1 {
    font-size: 3em;
    font-weight: 900;
}

.div2 input {
    padding: 10px;
    padding-left: 40px;
    font-size: 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;

}

.div2 input:last-child {
    width: 100%;
}



.location-pin {
    position: relative;
}

.location-pin i{
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 24px;
}

.search-input{
    position: relative;
}

.search-input i{
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 24px;
}

.location-pin i:last-child {
    right: 5px;
}

.search-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 700px;
    margin: auto;
    gap: 10px;
}

.max-width {
    max-width: 1000px;
    margin: auto;
    padding: 0px;
}

.wrapper1 {
    margin: 50px;
    text-align: left;
}

.block {
    width: 45%;
    border: 1px solid rgb(175, 174, 174);
    border-radius: 10px;
    margin-bottom: 50px;

    
}

.div3{
    font-size: 1.2rem;
}

.div3 h3 {
    padding: 10px;
}

.div3 p {
    padding: 0px 0px 10px 10px;
}

.div3 img {
    height: 20%;
    border-radius: 10px 10px 0px 0px;
}

.div4 {
    width: 80%;
    font-size: 1.1rem;
}

.border {
    position: relative;
    width: 35%;
    border: 1px solid rgb(175, 174, 174);
    border-radius: 8px;
    padding: 15px;
    margin: 50px 0px;
}

.div4 span {
    padding: 10px 0px;
}

.div4 i {
    position: absolute;
    top: 35%;
    right: 5%;
}


.block1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffbf7;
    padding: 50px;
}

.div5 {
    width: 20%;
    padding: 70px 0px;
}

.div6 {
    width: 38%;
    font-size: 1.2rem;
    line-height: 2;
}

.div6 img {
    width: 130px;
    height: 35px;
    margin-right: 10px;
}

.div6 input {
    width: 50%;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin: 15px 0px;
}

.div6 button {
    color: #ffffff;
    background-color: #ef4f5f;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    padding: 12px;
}

.div6 span {
    color: gray;
    font-size: 1.1rem;
}

.block2 {
    width: 90%;
    text-align: center;
    padding: 50px;
    margin: auto;
}

.block2 h1 {
    text-align: left;
    margin: 10px;
}

.div7 {
    border: 1px solid rgb(219, 216, 216);
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    text-align: left;
    font-size: 1.4rem;
}

.block3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77%;
    margin: auto;
}

.div8 {
    width: 25%;
}

.div9 {
    width: 50%;
}

.div9 input {
    width: 45%;
    padding: 10px;
    padding-left: 25px;
    margin-left: 10px;
    border-radius: 5px;
}

.wrapper2 {
    background-color: #F8F8F8;
    padding: 50px;
}

.wrapper2>p {
    width: 81%;
    margin: auto;
    padding: 15px 0px;
    color: #767676;
    border-top: 1px solid rgb(197, 197, 197);
}

.block4 {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
}

.div10 {
    width: 25%;
}

.div10 li {
    font-size: 1rem;
    color: #767676;
    list-style-type: none;
    margin: 10px 0px;
}

.div10 h3 {
    font-size: 0.8rem;
}

.div11 i {
    font-size: 1rem;
    padding: 2px;
}

.div11 h3 {
    font-size: 0.8rem;
}

.div11 img {
    width: 100px;
    height: 30px;
    margin: 10px 0px;
}

@media only screen and (max-width:992px) {
    .div10 li {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:768px) {
    .header {
        display: none;
    }

    .sm-nav {
        display: inline-block !important;
    }
    
    .sm-nav:hover .sm-content {
        display: block;
        margin-left: 30px;
    }

    .div1 a {
        font-size: 1.7rem;
        text-align: left;
        display: block;
    }

    .div2 {
        padding: 50px;
    }

    .search-box {
        display: flex;
        justify-content: center;
        max-width: 100%;
        
    }

    .location-pin {
        width: 100%;
    }

    .search-input {
        width: 100%;
    }

    .search-box input {
        width: 100%;
    }

    .div6 {
        width: 50%;
    }



    .block4 {
        justify-content: left;
    }

    .div10 {
        width: 33%;
    }

    .div10 h3 {
        font-size: 0.9rem;
    }

    .div11 {
        width: 30%;
    }

    .div11 h3 {
        font-size: 0.9rem;
    }

    .div11 i {
        font-size: 1.6rem;
        padding: 2px;
    }


    .div11 img {
        width: 130px;
        height: 40px;
    }


    
}

@media only screen and (max-width:600px) {
    
    .div5 {
        width: 35%;
    }

    .div6 {
        width: 52%;
        
    }
    
    .block3 {
        width: 100%;
    }

    .div10 {
        width: 50%;
    }

    .div11 {
        width: 50%;
        padding: 0px 35px;
    }
}

